@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform:capitalize ;
    transition: .2s linear;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background-color: #F0F2F5;
}
body{
    background-color: #F0F2F5;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #3e8da8;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    z-index: 1000 !important; /* Ưu tiên cao nhất */
}
nav .navbar{
    height: 100%;
    max-width: 1250px;
 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
nav .navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
nav .navbar .nav-links {
   
    height:100%;
    line-height: 70px;
}
nav .navbar .nav-links .links{
    display: flex;

}
nav .navbar .nav-links .links li{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    list-style: none;
    padding: 0 14px;


}
nav .navbar .nav-links .links li a{
    height: 100%;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}
nav .navbar .nav-links .links li .arrow{
   
    height: 100%;
    width: 22px;
    text-align: center;
    color: #fff;
    line-height: 70px;
    transition: all 0.3s ease;
}
nav .navbar .nav-links .links li:hover .video-arrow,
nav .navbar .nav-links .links li:hover .curiculum-arrow
nav .navbar .nav-links .links li:hover .exercise-arrow{
    
transform:rotate(180deg) ;
}
.navbar .nav-links .links .sub-menu{
    position: absolute;
    top: 70px;
    left:  0;
    background: #3e8da8;
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-sizing: 0 1px 2px rgba(0,0,0,0.2);
    display: none;
}
.navbar .nav-links .links .sub-menu li{
    padding: 0 22px;
    border-bottom:1px solid rgba(255,255,255,0.1) ;
}

.navbar .nav-links .links .sub-menu li a{
    font-size: 15px;
    font: 500;

}
.navbar .nav-links .links li:hover .video-sub-menu ,
.navbar .nav-links .links li:hover .Curriculum-sub-menu,
.navbar .nav-links .links li:hover .Exercise-sub-menu{
    display:block ;
}
.navbar .search-box{
    position:relative;
    height: 40px;
    width: 40px;
   

}
.navbar .search-box i{
    color:#fff;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;

}
.navbar .search-box .input-box{
   height: 60px;
    width: 300px;
    background: #3e8da8;
    position: absolute;
    top: 65px;
    right: calc(100% - 40px);
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 2000;/* thêm dòng này */
}
.navbar .showInput .search-box .input-box{
    opacity: 1;

    pointer-events: auto;
    top: 65px;

}
.navbar .search-box .input-box::before{
    content:' ' ;
    position: absolute;
    height: 20px;
    width: 20px;
    background:#3e8da8 ;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}
.navbar .search-box .input-box input{
    position: absolute;
    height: 35px;
    width: 280px;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;

}
main{
   margin: 10rem 7%;
    margin-top: 8rem; /* thêm dòng này nếu bị đè */
}
section{
    padding: 2rem 2%;
    margin: 2% 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin:2rem 0;
    background: rgba(114, 148, 198);
}
.heading1{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin:2rem 0;
    background: rgb(89, 191, 143);
}
.heading2{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin:2rem 0;
    background: rgb(207, 111, 69);
}
.heading span{
    color: var(rgb(40, 40, 162));
}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;

}
.about .row .video-container img{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,0.1) ;
    height: 100%;
    object-fit: cover;
}
.about .row .video-container h3{
    position: obsolute;
    top: 50%;
    transform: translate(50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
    }
.about .row .content{
    flex:1 1 40rem ;
    
 }
 .about .row .content h3{
    font-size: 3rem;
    color: #333;

 }
 .about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: 1rem;
    line-height: 1.5;

 }

.btn{
    display: inline-block;
    margin-top: 1rem ;
    border-radius: 5rem;
    background: rgb(26, 65, 124);
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}
.btn:hover{
    background:rgb(104, 104, 192) ;
    
}
.btn1{
    display: inline-block;
    margin-top: 1rem ;
    border-radius: 5rem;
    background: rgb(26, 65, 124);
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}
.btn1:hover{
    background:rgb(101, 195, 123) ;
    
}
.btn2{
    display: inline-block;
    margin-top: 1rem ;
    border-radius: 5rem;
    background: rgb(26, 65, 124);
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}
.btn2:hover{
    background:rgb(164, 93, 90) ;
    
}
.footer{
    background-color: #24262b;
    padding: 70px 0;

}
.row1{
    display: flex;
    flex-wrap: wrap;

}
.container1{
    max-width: 1170px;
    margin: auto;

}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
   font-size: 18px;
   color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
   
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom:-10px;
   
    background-color:#e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform:capitalize ;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transform: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transform: all 0.5s ease;

}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;

}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}
.row > *{
    flex-shrink: 0;
    max-width: 100%;
}
.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}
.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.col-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.title {
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
.title.left{
    text-align: left;
}
.title >span {
    text-transform: uppercase;
}
.row>.content{
    width: 100%;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
.row>.content>strong {
    font-weight: 400;
}
.alert {
    padding: 10px;
    color: black;
    margin-bottom: 15px;
    background-color: white;
  }
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.alert.card{
    align-items: center;
    display: flex;
    justify-content: space-between;
} 
.BaiGiang{
    background-color: #e6f2ff;
}
.card-button >a{
    margin: 0;
    padding: 0;
}
.card-button .btn{
    border: none; 
    border-radius: 5px;
    color: black; 
    padding: 10px 15px; 
    cursor: pointer;
    background-color: #e6f2ff;
    font-weight: bold;
  }
.BaiGiang >.card-button > .btn:hover{
    background-color: white;
}
.row.cauhoi>*{
    font-size: 18px;
}
.cauhoitn>input,
.cauhoitn>label
{
    cursor: pointer;
}
.cauhoitn>input:hover,
.cauhoitn>label:hover{
    color: blue;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
.backtohome{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

@media (max-width:954px){
    nav .navbar{
      
        max-width: 100%;
        padding: 0 25px;

    }
    nav .navbar .logo a{
        color: #fff;
        max-width: 100%;
        padding: 0 25px;font-size: 26px;
    }
    nav .navbar .nav-links .links li{
        padding:0 10px ;
    }
nav .navbar .nav-links .links li a{
    font-size: 15px;

}
}
    .navbar .bx-menu,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bx-x{
       display: none;

    }
@media (max-width:800px){
    nav .navbar .nav-links{
        display: block;
        position: fixed;
        top:0 ;
        left: -100%;
        max-width: 270px;
        width: 100%;

        background: #3e8da8;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease    ;
        z-index: 100;
    }
    nav .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-links .sidebar-logo .logo_name{
        color: #fff;
        font-size:  25px;
        font-weight: 500;
    }
    .navbar .bx-menu,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bx-x{
        color: #fff;
        font-size: 25px;
        font-weight: 500;

    }
    .navbar .bx-menu,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bx-x{
       display: block;

    }
    nav .navbar .nav-links .links{
        display: block;
        margin-top: 20px;

    }
    nav .navbar .nav-links .links li{
        display: block;
    }
    .navbar .nav-links .links .sub-menu{
        display: none;
        position: relative;
        top: 0;
        left: 0;
         box-shadow: none;
    }
    nav .navbar .nav-links .links .sub-menu li{
        border-bottom: none;

    }
    .navbar .nav-links .links li:hover .video-sub-menu ,
.navbar .nav-links .links li:hover .Curriculum-sub-menu,
.navbar .nav-links .links li:hover .Exercise-sub-menu{
    display:none ;
}
nav .navbar .nav-links .links li .arrow{
    line-height: 40px;

}
.navbar .nav-links .links li:hover .video-sub-menu ,
.navbar .nav-links .links li:hover .Curriculum-sub-menu,
.navbar .nav-links .links li:hover .Exercise-sub-menu{
   transform: rotate(0deg);
}
.navbar .nav-links .show1 .links .sub-menu{
    display: block;
}
.navbar .nav-links .show2 .links .sub-menu{
    display: block;
}

.navbar .nav-links .show3  .links .sub-menu{
    display: block;
}
.navbar .nav-links .links li:hover .video-sub-menu ,
.navbar .nav-links .links li:hover .Curriculum-sub-menu,
.navbar .nav-links .links li:hover .Exercise-sub-menu{
   transform: rotate(180deg);
} 
}
@media (max-width:400px) {
    html{
        font-size: 50%;

    }
    .heading{
      font-size: 3rem;  
    }
    
}
@media(max-width:370px){
    nav .navbar .nav-links{
       max-width:100px ;

    }
}